@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://rsms.me/inter/inter.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
button,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  color: #E5E5E5;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: linear-gradient(154.03deg, rgba(149, 159, 201, 0.25) 0%, rgba(149, 159, 201, 0) 91.15%), #000000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

input, button {
  outline: none !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2.5rem;
  font-weight: 600; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem;
  font-weight: 600; }

p {
  line-height: 1.75; }

strong {
  font-weight: 700; }

html {
  font-family: "Inter", sans-serif; }

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif; } }

h1, h2 {
  font-family: 'Syncopate';
  text-transform: uppercase;
  letter-spacing: -0.03333em;
  line-height: 1; }

.button {
  background-color: #000000;
  color: #E5E5E5;
  font-weight: 600;
  line-height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer; }

.card {
  display: block;
  text-decoration: none;
  margin-bottom: 3rem; }
  @media (min-width: 960px) {
    .card {
      margin-bottom: 0; } }
  .card--xl .card__thumbnail {
    height: 420px; }
  .card--xl .card__title {
    font-size: 1.5rem; }
    @media (min-width: 960px) {
      .card--xl .card__title {
        font-size: 3rem; } }
  .card--lg .card__thumbnail {
    height: 240px; }
    @media (min-width: 960px) {
      .card--lg .card__thumbnail {
        height: 180px; } }
  .card--md .card__thumbnail {
    height: 240px; }
    @media (min-width: 960px) {
      .card--md .card__thumbnail {
        height: 320px; } }
  .card--sm {
    display: flex; }
    .card--sm .card__thumbnail {
      flex: 0 0 96px;
      height: 96px;
      margin-right: 1.5rem;
      margin-bottom: 0; }
      @media (min-width: 960px) {
        .card--sm .card__thumbnail {
          flex: 0 0 240px;
          height: 240px; } }
  .card__thumbnail {
    width: 100%;
    height: 320px;
    margin-bottom: 1.5rem;
    background-color: rgba(109, 111, 124, 0.25);
    border-bottom-right-radius: 1.5rem;
    background-size: cover;
    background-position: center; }
  .card__tag {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: #999999;
    font-weight: 700; }
  .card__title {
    font-size: 1.5rem; }
  .card__description {
    color: #999999;
    margin-top: 0.75rem;
    line-height: 1.5; }

.header {
  width: 100%;
  padding: 1.5rem;
  position: absolute;
  top: 0; }
  @media (min-width: 960px) {
    .header {
      padding: 4.5rem; } }
  .header__content {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }

.heading {
  padding: 240px 2rem 3rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url("/src/img/doom.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 960px) {
    .heading {
      padding: 320px 4.5rem 4.5rem; } }
  .heading__content {
    max-width: 1296px;
    margin: 0 auto; }
  .heading__tag {
    margin-bottom: 0.75rem;
    font-weight: 700; }
  .heading__title {
    margin-bottom: 0.75rem;
    font-size: 2rem; }
    @media (min-width: 960px) {
      .heading__title {
        font-size: 3rem; } }
  .heading__description {
    line-height: 1.5; }

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem; }
  @media (min-width: 960px) {
    .section {
      padding: 0 4.5rem; } }
  .section:first-child {
    margin-top: 8rem;
    margin-bottom: 4.5rem; }
    @media (min-width: 960px) {
      .section:first-child {
        margin-top: 12rem; } }
  .section__content {
    flex: 0 1 1296px; }

.feature {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; }

.posts {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: #E5E5E5; }
  .posts p,
  .posts strong {
    color: #000000; }
  .posts__title {
    color: #000000;
    margin-bottom: 3rem; }
  .posts .card__title {
    color: #000000; }
  .posts img {
    width: 100%;
    margin: 3rem 0; }
  .posts p,
  .posts img {
    max-width: 768px; }

.byline {
  margin-bottom: 4.5rem; }

@media (min-width: 960px) {
  .grid {
    display: grid;
    grid-gap: 3rem; }
    .grid--3 {
      grid-template-columns: repeat(3, 33.333fr); }
    .grid--2 {
      grid-template-columns: repeat(2, 50fr); } }
