.header {
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 0;

    @media (min-width: 960px) {
        padding: 4.5rem;
    }

    &__content {
        max-width: 1296px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
